:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--mui-palette-primary-main);
  background-color: var(--mui-palette-background-default);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

html {
  font-size: 10px;
}

@media screen and (768 <=width) and (width < 992) {
  html {
    font-size: 9px !important;
  }
}

@media screen and (600 <=width) and (width < 768) {
  html {
    font-size: 8px !important;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 7px !important;
  }
}

header {
  background-color: var(--mui-palette-background-paper);
  padding: 15px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}